
<form action="POST">
	<fieldset>
		<hgroup>
			<h3>Registro de eventos hist&oacute;ricos</h3>
		</hgroup>
	<div class="formblock"><label for="IdEventoP">Evento padre</label><select id="IdEventoP" name="IdEventoP"></select></div>
	<div class="formblock"><label for="IdEvento">Evento</label>
	<select id="IdEvento" name="IdEvento" ng-options="Evento as Evento.Nombre for Evento in items" ng-model="item"></select></div>
	<div class="formblock"><label for="Nombre" >T&iacute;tulo</label>
		<input id="Nombre" name="Nombre" type="text" value="{{item.Nombre}}"/>
	</div>
	
	<div class="formblock"><label for="DiaI">Dia</label>
	<input type="number" max="31" min="1" id="DiaI" name="DiaI" value="{{item.DiaI}}" />
	</div>
	<div class="formblock"><label for="MesI" >Mes</label>
	<input type="number" max="12" min="1"  id="MesI" name="MesI" value="{{item.MesI}}"/></div>
	<div class="formblock"><label for="AnioI">A&ntilde;o</label>
	<input type="number" max="12" min="1"  id="AnioI" name="AnioI" value="{{item.AnioI}}"/></div>
	<div class="formblock"><label for="DiaF"></label>
	<input type="number" max="12" min="1"  id="DiaF" name="DiaF" value="{{item.DiaF}}"/></div>
	 <div class="formblock"><label for="MesF"></label>
	<input type="number" max="12" min="1"  id="MesF" name="MesF" value="{{item.MesF}}"/></div>
	<div class="formblock"><label for="AnioF"></label>
	<input type="number" max="12" min="1"  id="AnioF" name="AnioF" value="{{item.AnioF}}"/></div>
	<div class="formblock ta"><label for="Detalle">Detalle</label>
		<textarea rows="10" >{{item.Detalle}}</textarea></div>
</fieldset>
</form>